<!DOCTYPE html>
<html class="w-full h-full">

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'notes/style.css' %}">
    <meta charset="utf-8" lang="DE">
    <title>Notes</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="p-8">
<div class="flex flex-col gap-y-4 text-base text-blue-600">
    {% if output|default:"None" %}
        {% for note in output %}
                <div>
                    <div class="font-bold text-xl">
                        {{ note.title }} :
                    </div>
                    <div>
                        {{ note.note }}
                    </div>
                    <div>
                        {{ note.pub_date}}
                    </div>
                    <!-- {{ note.id }} -->
                </div>
        {% endfor %}
    {% else %}
        No Data
    {% endif %}
</div>
</body>

</html>